:root {
  --ctp-rosewater: #f4dbd6;
  --ctp-flamingo: #f0c6c6;
  --ctp-pink: #f5bde6;
  --ctp-mauve: #c6a0f6;
  --ctp-red: #ed8796;
  --ctp-maroon: #ee99a0;
  --ctp-peach: #f5a97f;
  --ctp-yellow: #eed49f;
  --ctp-green: #a6da95;
  --ctp-teal: #8bd5ca;
  --ctp-sky: #91d7e3;
  --ctp-sapphire: #7dc4e4;
  --ctp-blue: #8aadf4;
  --ctp-lavender: #b7bdf8;
  --ctp-text: #cad3f5;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext0: #a5adcb;
  --ctp-overlay2: #939ab7;
  --ctp-overlay1: #8087a2;
  --ctp-overlay0: #6e738d;
  --ctp-surface2: #5b6078;
  --ctp-surface1: #494d64;
  --ctp-surface0: #363a4f;
  --ctp-base: #24273a;
  --ctp-mantle: #1e2030;
  --ctp-crust: #181926;
  --ctp-text-inverted: var(--ctp-crust);
}


.theme-default body {
  --ctp-link-colour: var(--ctp-rosewater);
  --ctp-link-hover: var(--ctp-flamingo);
}



.theme-default body,
.theme-default .admin-wrapper,
.theme-default .admin-wrapper .sidebar-wrapper__inner {
    background: var(--ctp-crust);
    color: var(--ctp-text);
}

.theme-default .columns-area__panels {
  background: var(--ctp-crust);
}


.theme-default .account__header__bio .account__header__fields dt,
.theme-default .account__section-headline a.active,
.theme-default .account__section-headline button.active,
.theme-default .notification__filter-bar a.active,
.theme-default .notification__filter-bar button.active,
.theme-default .account__header__bio .account__header__content,
.theme-default .navigation-bar,
.theme-default .column-link__badge,
.theme-default .column-subheading,
.theme-default .account__display-name strong,
.theme-default .status__display-name strong,
.theme-default .reply-indicator__header a,
.theme-default .notification__message,
.theme-default .public-layout .public-account-bio .account__header__content,
.theme-default .reply-indicator__content,
.theme-default .status__content { color: var(--ctp-text); }


.theme-default .account__header__tabs__name h1 small,
.theme-default .account__header__bio .account__header__fields dd,
.theme-default .empty-column-indicator,
.theme-default .follow_requests-unlocked_explanation,
.theme-default .account .account__display-name,
.theme-default .search__input,
.theme-default .search__input:focus,
.theme-default .account__header__fields dt { color: var(--ctp-subtext2); }


.theme-default .account__header__tabs__name h1,
.theme-default .account__header__content a,
.theme-default .account__header__bio .account__header__fields a,
.theme-default .empty-column-indicator a,
.theme-default .follow_requests-unlocked_explanation a,
.theme-default .column-back-button,
.theme-default .icon-button,
.theme-default .icon-button.inverted,
.theme-default .text-icon-button,
.theme-default .icon-button.active,
.theme-default .public-layout .public-account-bio .account__header__fields a,
.theme-default .column-header__back-button,
.theme-default .notification__message .fa,
.theme-default .navigation-bar strong {
  color: var(--ctp-link-colour);
}


.theme-default .icon-button:active,
.theme-default .icon-button:focus,
.theme-default .icon-button:hover,
.theme-default .text-icon-button:active,
.theme-default .text-icon-button:focus,
.theme-default .text-icon-button:hover,
.theme-default .icon-button.inverted:active,
.theme-default .icon-button.inverted:focus,
.theme-default .icon-button.inverted:hover,
.theme-default .public-layout .public-account-bio .account__header__fields a:hover { color: var(--ctp-link-hover); }


.theme-default .ui__header,
.theme-default .reply-indicator,
.theme-default .column-header,
.theme-default .column-header__button,
.theme-default .column-header__back-button,
.theme-default .column-back-button,
.theme-default .drawer__header,
.theme-default .account__section-headline,
.theme-default .notification__filter-bar,
.theme-default .account__section-headline button,
.theme-default .notification__filter-bar button,
.theme-default .account__header,
.theme-default .search__input,
.theme-default .search__input:focus,
.theme-default .column-link__badge,
.theme-default .column-subheading,
.theme-default .public-layout .header,
.theme-default .public-layout .public-account-header__bar::before,
.theme-default .account__header__fields,
.theme-default .account__header__fields dt,
.theme-default .account__header__fields dd:not(.account__header__bio .account__header__fields dd),
.theme-default .focusable:focus,
.theme-default .admin-wrapper .sidebar ul a:hover,
.theme-default .admin-wrapper .sidebar ul .simple-navigation-active-leaf .selected,
.theme-default .admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
  border-color: var(--ctp-mantle);
  background: var(--ctp-surface0);
}

.theme-default .ui__header .button {
 background: var(--ctp-blue); 
}

.theme-default .account__header__bio .account__header__fields dl,
.theme-default .account__header__bio .account__header__fields,
.theme-default .empty-column-indicator,
.theme-default .column > .scrollable,
.theme-default .nothing-here,
.theme-default .public-layout .public-account-bio,
.theme-default .hero-widget__text,
.theme-default body.admin,
.theme-default .admin-wrapper .sidebar ul a.selected,
.theme-default .admin-wrapper .sidebar ul ul,
.theme-default .detailed-status,
.theme-default .detailed-status__action-bar {
  border-color: var(--ctp-mantle);
  background: var(--ctp-base);
}


.theme-default .public-layout .public-account-header__tabs__tabs .counter::after {
  border-color: var(--ctp-link-colour);
}
.theme-default .public-layout .public-account-header__tabs__tabs .counter.active::after {
  border-color: var(--ctp-link-hover);
}

.theme-default .account,
.theme-default .load-gap { border-color: var(--ctp-mantle); }

.theme-default .account__section-headline a.active::after,
.theme-default .account__section-headline a.active::before,
.theme-default .account__section-headline button.active::after,
.theme-default .account__section-headline button.active::before,
.theme-default .notification__filter-bar a.active::after,
.theme-default .notification__filter-bar a.active::before,
.theme-default .notification__filter-bar button.active::after,
.theme-default .notification__filter-bar button.active::before { border-color: transparent transparent var(--ctp-mantle); }


.theme-default .drawer__header a:hover,
.theme-default .column-header__button:hover,
.theme-default .account__section-headline button:hover,
.theme-default .notification__filter-bar button:hover,
.theme-default .account__section-headline a:hover,
.theme-default .column-link:active,
.theme-default .column-link:focus,
.theme-default .column-link:hover { background: var(--ctp-surface2); }


.theme-default .button,
.theme-default .button.logo-button {
  background: var(--ctp-link-colour);
  color: var(--ctp-text-inverted);
}

.theme-default .button.logo-button svg { fill: currentColor; }


.theme-default .public-layout .header .nav-button { background-color: var(--ctp-surface1); }
.theme-default .public-layout .header .nav-button:hover { background-color: var(--ctp-surface2); }

.theme-default .button:active,
.theme-default .button:focus,
.theme-default .button:hover,
.theme-default .button.logo-button:active,
.theme-default .button.logo-button:focus,
.theme-default .button.logo-button:hover {
  background: var(--ctp-link-hover);
}


.theme-default .icon-button.star-icon.active {
  color: var(--ctp-peach);
}

.theme-default .icon-button.bookmark-icon.active {
  color: var(--ctp-green);
}

.theme-default .drawer__header,
.theme-default .drawer__inner { border: none; }

.theme-default .drawer__inner,
.theme-default .drawer__inner__mastodon { background-color: var(--ctp-base); }

.theme-default .compose-form .compose-form__modifiers,
.theme-default .compose-form .autosuggest-textarea__textarea,
.theme-default .compose-form .spoiler-input__input {
  background: var(--ctp-surface1);
  color: var(--ctp-text);
}

.theme-default .column-link {
  background: var(--ctp-surface0);
  color: var(--ctp-text);
}

.theme-default .compose-form__publish-button-wrapper .button {
  background: var(--ctp-blue);
}

.theme-default .account__header__tabs .button.logo-button {
  background: var(--ctp-overlay0);
}

.theme-default .account__header__tabs__buttons .icon-button.active {
  color: var(--ctp-green);
}

.theme-default .compose-form .autosuggest-textarea__textarea::placeholder { color: var(--ctp-subtext0); }
.theme-default .compose-form .compose-form__buttons-wrapper {
  background: var(--ctp-surface0);
}


.theme-default .load-more:hover { background-color: var(--ctp-mantle); }
.theme-default .character-counter { color: var(--ctp-subtext0); }

.theme-default .public-layout .header,
.theme-default .hero-widget,
.theme-default .public-layout .public-account-header,
.theme-default .public-layout .public-account-bio,
.theme-default .nothing-here { box-shadow: none; }

/* boosts */
.theme-default button.icon-button i.fa-retweet,
.theme-default .notification__message .fa.fa-retweet
{
  filter: sepia(1)
        saturate(20%)
        brightness(2)
        drop-shadow(0px 1px 0px rgba(0,0,0,0.6))
}

/* recolor boosts (preserve animation, unthemeable default state */

.no-reduce-motion button.icon-button.active i.fa-retweet
{
    filter: sepia(100%)
        hue-rotate(110deg)
        saturate(150%)
        brightness(100%)
        drop-shadow(0px 1px 0px rgba(0,0,0,0.6))
}

.theme-default .reply-indicator__content a.unhandled-link,
.theme-default .status__content a.unhandled-link {
  color: var(--ctp-peach);
}
.theme-default .reply-indicator__content a,
.theme-default .status__content a {
  color: var(--ctp-lavender);
}
.theme-default .navigation-panel {
  background: var(--ctp-surface0);
}
.theme-default .sign-in-banner .button,
.theme-default .server-banner .button,
.theme-default .poll .button,
.theme-default .simple_form .button,
.theme-default .action-buttons .button,
.theme-default .content__heading__row .button {
  background: var(--ctp-blue);
}
.theme-default .poll .button:disabled {
  color: var(--ctp-crust);
}
.theme-default .link-footer p,
.theme-default .link-footer a {
  color: var(--ctp-peach);
}
